html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DVN-Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}

button:hover {
  opacity: 0.9;
}

a:hover,
a.nav-link:hover {
  color: currentColor;
  opacity: 0.9;
}

body .container-xl {
  padding: 0;
}

/* body .container-xl {
  max-width: 1200px;
	padding: 0;
}

@media only screen and (max-width: 63.9375em) {
  body .container-xl {
    padding: 0 16px;
  }
} */
